

body{
    background-image: url('rsq8/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    
    
}
.background{
    color: white;
    font-size: 20px;
    text-align: center;
    

    
}
.exterior{
color: black;
margin-top: calc(110vh);




}