html {
   width: 100px;
}

body{
    background-image: url('rsq8/background.jpg');
    background-repeat: no-repeat;
    background-size:fill;
    
    
    display: flex;
    
}
.background{
    color: white;
    text-align: center;
    font-size: 20px;

    
}
.exterior{
color: black;
position: relative;
margin-top: calc(150vh);
text-align: center;
display: inline;


}