body{
    background-color: white;
}

*{
    font-size: large;
}



.img-container{
    
    text-align: center;
    image-rendering: optimizeQuality;
    image-resolution: 1366x768;
    image-orientation: initial;
    border-image: fill;
     


}
  h1{
        background-color:white;
        text-align:center;
        text-transform:uppercase;
        position: relative;
        font-size:xx-large;
        margin: 0;
        padding: 0;
    }