from {
@tailwind base;
@tailwind components;
@tailwind utilities;
}

@font-face {
  font-family: Gealsio;
  src: url(fonts\Gelasio\Gelasio-Regular.ttf);
}

body {
  background-image: url("Background/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.logo{
  height: 64px;
  width: 64px;
  display: flex;

}


.nav-items a:hover {

  color: purple;
}


.nav-items {
  display: flex;
  align-items: end;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}



.nav-items li {
  margin-right: 10px;
}

.nav-items li:last-child {
  margin-right: 0;
}

nav {
  height: 64px;
  margin-left: 700px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

nav ul li {
  display: inline-block;
  justify-content: end;
  align-items: end;
  padding: 20px;
}

nav ul li a {
  color: #d9d9d9;
}

.title {
  margin-top: calc(30vh);
  text-align: center;
  color: white;
  display: grid;
  place-items: center;
}

.title h2 {
  width: 16.5ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: purple;
  text-decoration: underline purple;
}

@keyframes typing 
  from {
    width: 0;
  }


@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.brand-container {
  margin-top: calc(100vw);
  color: #333;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin-top: 50px;
  flex: 1;
  justify-content: space-between;
}

.ad-1 {
  margin-top: calc(65vh);
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
}

.page {
  height: 190px;
  width: 100%;
  margin: -390px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: yellow;
}

.choose {
  color: black;
  margin-top: calc(25em);
  text-align: center;
  text-decoration: underline;
  text-shadow: #fff;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  border: #333 solid 1px;
}

.ad-2 {
  display: flex;
  background-color: red;
  margin: 0;
  padding: 0;
}

.latest-cars {
  background-color: blue;
  display: flex;
  justify-content: center;
  height: 500px;
}