/**
 * The '@font-face' class defines the font-family and source for the Gealsio font.
 */

@font-face {
  font-family: Gealsio;
  src: url(fonts\Gelasio\Gelasio-Regular.ttf);
}

body {
  background-image: url("Background/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.nav-items {
  /* Add CSS properties here to enhance the styling of the navigation items */
  display: flex;
  justify-content: end;
  align-items: end;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  background-color: rgba(138, 133, 133, 0.067);
}
.nav-items img {
  height: 64px;
  width: 64px;
  display: flex;
}
.nav-items li {
  /* Add CSS properties here to style each individual navigation item */
  margin-right: 10px;
}
.nav-items li:last-child {
  margin-right: 0;
}
nav {
  height: 64px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}
nav ul li {
  display: inline-block;
  justify-content: end;
  align-items: end;
  padding: 20px;
}
nav ul li a {
  color: #d9d9d9;
}

.title {
  margin-top: calc(30vh);
  text-align: center;
  color: white;
  display: grid;
  place-items: center;
}
.title h2 {
  width: 16.5ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: purple;
  text-decoration: underline purple;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.brand-container {
  margin-top: calc(100vw);
  color: #333;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin-top: 50px;
  flex: 1;
  justify-content: space-between;
}
.page {
  background: #1d1d1d;
  margin: 0;
  padding: 0;
}

.choose {
  color: white;
  margin-top: calc(25em);
  text-align: center;
  text-decoration: underline;
  text-shadow: #fff;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px;
}
