@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Alieron;
  font-weight: 12;
}
/* Importing Fonts  */
@font-face {
  font-family: "Gealsio";
  src: url(fonts/Gelasio/Gelasio-Regular.ttf);
}
@font-face {
  font-family: "Alieron";
  src: url(fonts/Alieron/Aileron-Light.otf);
}

body {
  background-image: url("Background/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  margin: 0;
  padding: 0;
  height: 100vh;
}
form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: rgb(107, 105, 105)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
.nav-items a:hover {
  color: purple;
}

.nav-items {
  display: flex;
  align-items: end;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.nav-items img {
  height: 64px;
  width: 64px;
  display: flex;
}

.nav-items li {
  margin-right: 10px;
}

.nav-items li:last-child {
  margin-right: 0;
}

nav {
  height: 64px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

nav ul li {
  display: inline-block;
  justify-content: end;
  align-items: end;
  padding: 20px;
}

nav ul li a {
  color: #d9d9d9;
}

.title {
  margin-top: calc(30vh);
  text-align: center;
  color: white;
  display: grid;
  place-items: center;
  font-size: 20px;
}

.title h2 {
  width: 16.5ch;
  animation: typing 3s steps(25), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: rgb(74, 12, 209);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.brand-container {
  margin-top: calc(100vw);
  color: #333;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin-top: 50px;
  flex: 1;
  justify-content: space-between;
}

.ad-1 {
  margin-top: calc(65vh);
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
}

.page {
  height: 190px;
  width: 100%;
  margin: -390px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: yellow;
}

.choose {
  color: rgb(82, 7, 7);
  margin-top: calc(25em);
  text-align: center;
  text-decoration: underline;
  text-shadow: #fff;
}
.choose:hover {
  color: white;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  border: #333 solid 1px;
}

.ad-2 {
  display: flex;
  background-color: red;
  margin: 0;
  padding: 0;
}

.latest-cars {
  background-color: blue;
  display: flex;
  justify-content: center;
  height: 500px;
}
/* Default styles */

/* Add your default CSS styles here */

/* Media queries for responsiveness */

/* Small screens (up to 600px) */
@media (max-width: 600px) {
  /* Add CSS styles specific to small screens */
}

/* Medium screens (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  /* Add CSS styles specific to medium screens */
}

/* Large screens (901px and above) */
@media (min-width: 901px) {
  /* Add CSS styles specific to large screens */
}
