* {
  font-family: Gelasio;
  margin: 0;
  padding: 0;
  font-size: ;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Alieron;
  font-weight: 12;
}
/* Importing Fonts  */
@font-face {
  font-family: "Gealsio";
  src: url(fonts/Gelasio/Gelasio-Regular.ttf);
}
@font-face {
  font-family: "Alieron";
  src: url(fonts/Alieron/Aileron-Light.otf);
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.logo {
  height: 64px;
  width: 64px;
}
.nav-items a:hover {
  color: purple;
}

.nav-items {
  display: flex;
  align-items: end;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  background-color: black;
}

.nav-items img {
  height: 64px;
  width: 64px;
  display: flex;
}

.nav-items li {
  margin-right: 10px;
}

.nav-items li:last-child {
  margin-right: 0;
}

nav {
  height: 64px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-left: 45rem;
}

nav ul li {
  display: inline-block;
  margin: 0 12px;
  padding: 15px;
}

nav ul li a {
  color: #d9d9d9;
}
.contact h1 {
  text-align: center;
}
.contact {
  height: 33rem;
  width: 27rem;
  margin: 20px 10px 20px 900px;
  border: 1px solid black ;
}
.name {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.email {
  margin-bottom: 20px;
  margin-left: 20px;

}
.message {
  margin-bottom: 10px;
  margin-left: 20px;

}
.button {
  margin-bottom: 20px;
  margin-left: 20px;

}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input {
  margin-bottom: 20px;
  width: 20rem;
  height: 2rem;
  padding: 5px;
  border: none;
  border-bottom: solid 1px black;
}

.button button {
  padding: 10px 20px;
  font-size: 16px;
  

  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button button:hover {
  background-color: rgb(193, 193, 213);
}
