body{
    text-decoration: #fcfcfd;
    --background: #030203;
    --primary: #c3c1c2;
    --secondary: #0d0d0c;
    --accent: #8d918f;
    background-image:url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
    background-repeat: no-repeat;
}

.feedback{
    display: flex
}
.sign-up{
   border: 2px solid black;
   margin-top: 20px;
  
   margin-left: 900px;
   margin-right: 850px;
   height: 600px;
   width:390px;
   background-color: white  ;
}
.sign-up h2{
    text-align: center;
}

.logo{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: space-between;
   

}
form{
    width: 300px;
    margin-left: 20px;

    
}
form label{
     display: flex;
     margin-top: 30px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    outline: none;

}
input[type="text"]{
    height: 200px;
    width: 100%;
    
}
input[type="name"]{
    border: none;
  border-bottom: 2px solid black;
  outline: none;
}
input[type="email"]{
    border: none;
  border-bottom: 2px solid black;
  outline: none;
}
button{
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
   
  }





































onthespot.help@2477@gmail.com
https://www.instagram.com/onthespot2477/#